.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa500;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 150px;
  min-width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 0 20px;
}

.button:hover {
  opacity: .9;
}

.button-disabled {
  opacity: .5;
  cursor: auto;
}

.button-disabled:hover {
  opacity: .5;
}
