.login-container {
  display: block;
  text-align: left;
  background: #e6e6e6;
  border: 2px solid #666;
  border-radius: 5px;
  margin: 20px;
}

.login-fields {
  display: block;
  padding: 25px;
}

.login-submit {
  display: block;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.chart-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 400px;
}
