.animationComponent {
  text-align: center;
}

.appLogo {
  animation: appLogoSpin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}


@keyframes appLogoSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
