.toggleContainer {
  border: 2px solid #d7d7d7;
  border-radius: 5px;
  padding: 3px;
}

.tabBar {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tabBackground {
  display: block;
  position: absolute;
  top: 0;
  left: 0%;
  margin: auto;
  height: 33px;
  width: 50%;
  background-color: #00d8ff;
  border-radius: 3px;

  transition: all .3s ease;
}

.rightActive {
  left: 50%;
}
